<h1 class="mb-8">
    <%= link_to view_path(@link.to_param), class: "no-underline hover:underline", target: :_blank, data: {turbo: false} do %>
        <div><%= @link.url %></div>
    <% end %>
</h1>

<div>
    <%= link_to "Edit", edit_link_path(@link), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded no-underline" %>

    <%= link_to "Delete", edit_link_path(@link), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded no-underline" %>
</div>

<div class="mt-10">
    <%= line_chart @link.views.group_by_day(:created_at, range: 1.month.ago..Time.now, expand_range: true).count %>
</div>
