<!DOCTYPE html>
<html>
  <head>
    <title>Url Shortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body class="h-screen flex flex-wrap flex-col justify-center">
    <header class="w-full">
      <%= render "layouts/navbar"%>
    </header>
    <main class="prose mx-auto mt-28 px-5">  
      <% if notice %>
        <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-1 mb-10 rounded" role="alert">
          <p> <%= notice %> </p>
        </div>
      <% end %>

      <% if alert %>
        <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-1 mb-10 rounded" role="alert">
          <p><%= alert %> </p>
        </div>
      <% end %>
      <div class="flex-grow">
        <%= yield %>
      </div>
    </main>

    <footer style="position:relative; bottom: 0; width: 100%; text-center; background-color: #D3D3D3;"> 
      <%= render "layouts/footer"%>
    </footer>
  </body>
</html>
